@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom utilities for the storefront */
.btn-primary {
  border-radius: 9999px;
  background-color: rgb(79 70 229);
  padding: 0.5rem 1rem;
  font-size: 0.875rem;
  font-weight: 600;
  color: white;
  transition: all 150ms ease-in-out;
}

.btn-primary:hover {
  background-color: rgb(99 102 241);
}