development:
  :concurrency: <%= ENV.fetch("SIDEKIQ_CONCURRENCY", 5) %>
  :queues:
    - default
    - mailers
    - low_priority

production:
  :concurrency: <%= ENV.fetch("SIDEKIQ_CONCURRENCY", 10) %>
  :queues:
    - critical
    - default
    - mailers
    - low_priority
